Proposal
Specification/*
BackgroundPresentation
Presentation
notes.txt
Figures
auto

Data/backup*

# Data

# Vim
*.swp
*.swo

# Latex
*.zip
*.dvi
*.gz
*.ldf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
*.acn
*.glg
*.glo
*.gls
*.ist
*.bcf
*.lof
*.lot
*.run.xml

!Specification/specification.pdf
