Proposal
Specification/*
notes
Figures

# Vim
*.swp
*.swo

# Latex
*.zip
*.dvi
*.gz
*.ldf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
*.acn
*.glg
*.glo
*.gls
*.ist
*.bcf
*.run.xml

!Specification/specification.pdf
